<!DOCTYPE html>
<html>
    <head>
        <title><%= name %></title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    </head>

    <body>
        <h1>Error</h1>
        <p><%= error %></p>
    </body>
</html>
